body {
    background: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

label>span {
    width: 250px;
    display: inline-block;

}

input[type="text"] {
    width: 150px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-top: 20px;
    background-color: #130f0f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-span {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}